.Rproj.user/830F3E0F/sources/prop/2E6DD1EF
.Rproj.user/830F3E0F/sources/prop/INDEX
.Rproj.user/830F3E0F/sources/session-162f243/FDBE0176
.Rproj.user/830F3E0F/sources/session-162f243/FDBE0176-contents
.Rproj.user/830F3E0F/sources/session-162f243/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
